nav{
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

nav > .nav-section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

#nav-initials-section {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 200;
    /* font-family:'Trebuchet MS', sans-serif; */
    justify-content: flex-start;
}

#nav-social-section,
#nav-projects-section {
    gap: 3rem;
}

#nav-initials-section,
#nav-projects-section {
    flex-basis: calc(100% / 3);
}

#nav-social-section,
#nav-contact-section {
    flex-grow: 1;
}

a{
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    color: whitesmoke;
}