.NavButtons-div{
    border: 1px solid var(--border-color);
    color: whitesmoke;
    position: absolute;
    width: 100%;
    bottom: 0%;
}

.Arrow-Left-Button{
    background-color: var(--background-color);
    text-align: center;
    width: 50%;
    border: 1px solid var(--border-color);
    padding: 50px;
    margin: 0;
    float: left;
    cursor: pointer;
    transition: 0.25s;
}

.Arrow-Right-Button{
    background-color: var(--background-color);
    text-align: center;
    width: 50%;
    border: 1px solid var(--border-color);
    padding: 50px;
    margin: 0;
    float: right;
    cursor: pointer;
    transition: 0.25s;
}

.Arrow-Left-Button:hover{
    background-color: #264b60;
    text-align: left;
    transform: .75s;
}

.Arrow-Right-Button:hover{
    background-color: #264b60;
    text-align: right;
    transition: .75s;
}