.NavButtons-div{
    border: 1px solid var(--border-color);
    /* display: inline-flex; */
    color: whitesmoke;
    position: absolute;
    width: 100%;
    bottom: 0%;
}

.Arrow-Left-Button{
    text-align: center;
    width: 50%;
    border: 1px solid var(--border-color);
    padding: 50px;
    margin: 0;
    float: left;
    cursor: pointer;
    transition: 0.25s;
}

.Arrow-Right-Button{
    text-align: center;
    width: 50%;
    border: 1px solid var(--border-color);
    padding: 50px;
    margin: 0;
    float: right;
    cursor: pointer;
    transition: 0.25s;
}