.Projects-Container{
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
}

.Projects-Img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.Projects-Div{
    grid-auto-columns: auto;
    overflow: hidden;
    color: white;
    margin: 1rem;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

#Projects-Github-Link{
    padding: 3px;
    padding-right: 3px;
    display: inline;
    cursor: pointer;
    float: right;
}